[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"
google-generativeai = "*"
openai = "*"
gunicorn = "*"
dj-database-url = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.13"
